<tr>
  <td><%= payroll_datum.date.strftime("%B %e, %Y") %></td>
  <td><%= payroll_datum.hours_worked %></td>
    <!-- t.date "date"
    t.float "hours_worked"
    t.integer "employee_id"
    t.string "job_group"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false -->
  </tr>
