<tr>
  <td><%= payroll_item.payroll_report_id %></td>
  <td><%= payroll_item.employee_id %></td>
  <td><%= if payroll_item.pay_period == 1
            "1/#{payroll_item.month}/#{payroll_item.year} - 15/#{payroll_item.month}/#{payroll_item.year}"
          else
          last_day = Date.civil(payroll_item.year, payroll_item.month, -1)
          "16/#{payroll_item.month}/#{payroll_item.year} - #{last_day}/#{payroll_item.month}/#{payroll_item.year}"
          end %>
  </td>
  <td><%= payroll_item.amount_paid %></td>
</tr>
